.displayPlants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.plantsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.plantBtn {
    padding: 15px 32px;
    background-color: #03382F;
    font-size: 20px;
}